@import url("http://fonts.cdnfonts.com/css/mark-pro");
:root {
  background-color: #f6f7f8;
  font-family: "Mark Pro", sans-serif;
}

.container {
  padding: 33px 127px 70px 122px;
  display: flex;
  /* flex-wrap: wrap; */
  /* text-align: center; */
  justify-content: center;
}

.card {
  padding: 35px 30px 63px;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

img.Group {
  width: 40px;
  height: 32px;

}

p.title {
  margin: 6px 0;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1f2a4b;
}

p.subtitle {
  margin: 6px 30px 43px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a1a4ad;
}

button {
  width: 330px;
  height: 36px;
  margin: 52px 0 0;
  padding: 8px 134px 8px 135px;
  border-radius: 4px;
  border: solid 1px #4a77e5;
  background-color: #4a77e5;

  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  transition-duration: 0.4s;
  cursor: pointer;
}


input,
textarea {
  width: 330px;
  background: none;
  color: #424242;
  font-size: 16px;
  margin: 10px 0 29px;
  padding: 10px 0;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #424242;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #4a77e5;
}

a:link {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1f2a4b;
}